.titulo{
    color:red;
    font-family: "Kode Mono", monospace;

}

.titulo2{
    color: yellow,
  
}





.fondo {
    background-image:url('https://miro.medium.com/v2/resize:fit:1400/0*K3CZoXdv675RxNiO.jpg');
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
  }